.dashboard-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  flex-wrap: wrap;

  gap: 1.5rem;
  margin-bottom: 2rem;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 2rem;
}
.empty-state { 
  text-align: center; 
  padding: 4rem; 
  background-color: var(--cyf-white); 
  border-radius: 12px; 
}