@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
  --cyf-pink: #D9448A;
  --cyf-black: #1a1a1a;
  --cyf-white: #FFFFFF;
  --cyf-light-gray: #f1f3f5;
  --cyf-text-gray: #495057; 
  --font-family-base: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  background-color: #f8f9fa; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
} 

* {
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

.btn-save {
  background: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-save:hover {
  background: #45a049;
}

.btn-cancel {
  color: var(--cyf-black);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}